@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Redressed&display=swap');

* {
margin: 0;
padding: 0;
outline: none;
}

body, html{
    width: 100%;
    height: 100%;
}

body {
   background-color: #fafafa;
   font-family: 'Trebuchet MS', 'Helvetica';
}

/* site header */

header {
    width: 100%;
    padding: 10px 0.5% 0px 0,5%;
    background: transparent;
    float: left;
    position: fixed;
}

header #logo {
    color: #000000;
    cursor: pointer;
}

header #logo span {
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Redressed', serif;
}

@media (min-width: 701px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    #about {
        float: right;
        width: 67%;
    }
}

@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        width: 100%;
        font-size: 1.5em;
    }
    #about {
        float: left;
        width: 100%;
    }
}

#about {
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#about > a {color: #000000;}

#about > a:hover {
    color: #b0b0b0;
    text-decoration: underline;
}

#about > a:not(:last-child) {
    margin-right: 7%;
}

/* styles for a fixed site header */

.fixed {
    z-index: 5000;
    background-color: #ffffff;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: #343434;
}

.fixed #about a {
    color: #343434;
}

.fixed #about a:hover {
    color: #7c7c7c;
}

/* the main block on the site */

#top {
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Ym9va3xlbnwwfHwwfHw%3D&w=1000&q=80);
    background-blend-mode: multiply;
    background-color: #1c347c;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 3em;
}

@media (min-width: 1001px) {
    #top {
        font-size: 3em;
        height: 1000px;
    }
}

@media (max-width: 1000px) and (min-width: 651px) {
    #top {
        font-size: 2em;
        height: 600px;
    }
}

@media (max-width: 650px) {
    #top {
        font-size: 1.3em;
        padding-top: 50%;
        height: 500px;
    }
}

#top h1 {
    padding-top: 20%;
}

#top h3 {
    color: #ccc;
}

/* block of possibilities */

#main {
    padding: 100px 20%;
    width: 60%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
    font-size: 1.3em;
}

@media (min-width: 1401px) {
    #main{
        padding: 100px 20%;
        width: 60%;
    }
}

@media (max-width: 1400px) {
    #main{
        padding: 100px 10%;
        width: 80%;
    }
}

@media (max-width: 700px) {
    #main div{
        width: 98%!important;
        margin-bottom: 20px;
    }
}

#main div {
    width: 48%;
    margin-right: 2%;
    float: left;
}

#main h2 {
    font-size: 3em;
}

#main span{
    color: #a0a0a0;
}


    
    footer { 
        background-color: #343434; 
        height: auto; 
        width: 100vw; 
        font-family: 'Trebuchet MS', 'Helvetica'; 
        padding-top: 40px; 
        color: aliceblue; 
    } 
    .footer-contacts { 
        align-items: center; 
        justify-content: center; 
        text-align: center; 
    } 
    .footer-contacts h3 { 
        font-size: 1.5em; 
        font-weight: 400; 
        text-transform: capitalize; 
        line-height: 3em; 
    } 
    .footer-contacts p { 
        max-width: 600px; 
        margin: 10px auto; 
        line-height: 28px; 
        font-size: 1em; 
    } 
    .footer-contacts a { 
        font-size: 1.5em; 
        margin: 0.3em 0.5em 2.5em; 
        text-decoration: none; 
        transform: color .4s ease; 
        color: aliceblue; 
    } 
    .footer-contacts a:hover { 
        color: #484848; 
    } 
    .footer-bottom { 
        background-color: #28292b; 
        font-size: 0.7em; 
        width: 100vw; 
        padding: 10px 0; 
        text-transform: capitalize; 
        text-align: center; 
    }

    .arrivals{
        padding-top: 100px;
        width: 100%;
        height: 100vh;
    }
    
    .arrivals h1{
        font-size: 50px;
        text-align: center;
        margin-bottom: 35px;
    }
    
    .arrivals .arrivals_box{
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 25px 0;
    }
    
    .arrivals .arrivals_box .arrivals_card{
        width: 250px;
        height: 340px;
        text-align: center;
        padding: 5px;
        border: 1px solid #919191;
        margin: auto 20px;
    }
    
    .arrivals .arrivals_box .arrivals_card:hover{
        box-shadow: 0 0 5px #089da1;
    }
    
    .arrivals .arrivals_box .arrivals_card .arrivals_image{
        width: 150px;
        height: 220px;
        margin: 0 auto;
        cursor: pointer;
        box-shadow: 0 0 8px rgba(0,0,0,0.5);
        overflow: hidden;
    }
    
    .arrivals .arrivals_box .arrivals_card .arrivals_image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: 0.3s;
    }
    
    .arrivals .arrivals_box .arrivals_card:hover .arrivals_image img{
        transform: scale(1.1);
    }
    
    .arrivals .arrivals_box .arrivals_card .arrivals_tag p{
        font-family: queen of camelot;
        font-size: 20px;
        margin: 8px 0;
    }
    
    .arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_icon{
        color: #089da1;
        margin-bottom: 18px;
    }
    
    .arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_btn{
        padding: 8px 20px;
        border: 2px solid #089da1;
        text-decoration: none;
        color: #000;
    }